.App {
  font-family: "VCR OSD mono";
  font-size: 10px;
  background-color: rgb(3, 3, 3);
  color: white;
  padding: 10px;
}

p,
h1,
h2 {
  padding: 0;
  margin: 2px;
}

h1 {
  font-family: "teletekst";
  font-size: 50px;
  color: black;
  width: fit-content;
  display: inline;
}

.titleContainer {
}

.bbcTitle {
  background-color: white;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
  margin-right: 10px;
  width: fit-content;
}

.footballTitle {
  background-color: #0d15fc;
  float: right;
  padding: 3px;
  padding-left: 25px;
  padding-right: 25px;
  width: fit-content;
}
